body {
    font-family: monospace;
    font-size: 18px;
    line-height: 1.7;
    background-color: #333;
    padding: 25px 50px;
}
img {
    padding-bottom: 5%;
}
.Typist a {
    color: inherit;
}
.Typist a:hover {
    background-color: #22bad9;
    color: white;
    text-decoration: none;
}

.Typist-message {
    /* color: hotpink; */
    width: 75%;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    margin: auto;
}
.Typist-message .flash {
    color: #22bad9;
    font-weight: bold;
    text-decoration: underline;
    animation-name: blinker;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes blinker {
    0% {
        opacity: 1;
   }
    50% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}

/* css for image */
.rounded {
    width: 200px;

}
/* css for terminal bash */

  .bash {
    background-color: black;
    background-image: radial-gradient(rgba(0, 110, 150, 0.75), black 120%);
    margin: 0;
    border-radius: 25px;
    overflow: hidden;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.bash::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
}
::selection {
    background: #0080ff;
    text-shadow: none;
}


